
<div class="footer"> 
  <div class="container">
    <div class="gallary text-center-sm">
      <h3 class="section-title">Latest From Blog</h3>
      <div class="img-box"><img src="img/slide (8).png" alt=""/>
        <div class="text"> 
          <h4>Download the free app</h4>
          <p>Send unlimited free texts and make WiFi calls from a free phone number. Download</p>
        </div>
      </div>
      <div class="img-box"><img src="img/slide (9).png" alt=""/>
        <div class="text"> 
          <h4>Download the free app</h4>
          <p>Send unlimited free texts and make WiFi calls from a free phone number. Download</p>
        </div>
      </div>
    </div>
    <div class="info text-center-sm">
      <h3 class="section-title">Latest From Blog</h3>
      <ul>
        <li>company name:</li>
        <li>street name number</li>
        <li>tow</li>
        <li>postal code</li>
        <li>scale</li>
        <li>Email:<span> EslamMahmoud@gmail.com</span></li>
      </ul>
      <h4>working Hours</h4>
      <p>Monday - friday 08:00 - 17:00        </p>
    </div>
    <div class="contact text-center-sm">
      <h3 class="section-title">Contact Us</h3>
      <form action="">
        <input type="text" placeholder="Name"/>
        <input type="Email" placeholder="Email"/>
        <textarea placeholder="Message..."></textarea>
        <input class="main-button" type="submit" value="submit"/>
      </form>
    </div>
    <div class="clearfix"></div>
    <div class="copyright">
      <div class="text text-center-sm"> All Right Recrvied &copy; 2021</div>
      <div class="author text-center-sm">Designed by Eslam Mahmoud</div>
    </div>
  </div>
</div>