
<section class="header">
  <div class="container"> 
    <div class="logo">
      <h1>Composition</h1>
      <p>Free PDS Website Template</p>
      <button class="the-toggler"> <span> </span><span> </span><span> </span></button>
    </div>
    <ul class="navbar">   
      <li> <a href="#">HomePage</a></li>
      <li> <a href="#">StyleDemo</a></li>
      <li> <a href="#">fullWidth</a></li>
      <li> <a href="#">DropDown</a></li>
      <li> <a href="#">linkText</a></li>
    </ul>
    <select class="sel" onchange="se(this.value)">
      <option>Select Language</option>
      <option>Eng</option>
      <option>Ar             </option>
    </select>
  </div>
</section>