mixin boxservices(icon,name)
    div(class="servive-box text-center-sm")
        h3.service-title 
            <i class="#{icon}"></i> #{name}
        p.service-desc Call and message your friends with a real phone number - no phone service required!Call and message your friends with a real phone number - no phone service required!
        a(class="link" href="#") Read More...
        

mixin boxplayer(src)
    div(class="player-box text-center-sm") 
        img(src=src, alt="")
        h3.player-title
            span.head Name:
            span Eslam Mahmoud
        p.player-desc Call and message your friends with a real phone number - no phone service required!Call and message your friends with a real phone number - no phone service required!
        a(class="link" href="#") Read More...
